@media screen and (max-width: 690px ) {
  
  .contain {
    margin: 0 20px;
  }
}

@media screen and (max-width: 450px ) {

  body {
    font-size: 95%;
  }

  .newsletter {
    padding: 20px;
  }
  
}